<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://jeeeyul.net/erd"
            class="net.jeeeyul.erd.model.erd.ErdPackage"
            genModel="model/erd.xcore"/>
   </extension>

</plugin>
